$fontFamily:"Jost";
$minWidth: 320px;
$maxWidth: 1152px;
$maxWidthConteiner: 856px;
$md1: $maxWidthConteiner + 12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

.works {
   
}
.works_main-title {

}
.works_item {
    

    
}
.works_image {

}
.works_body {

}
.works_title {

}
.works_info {
   
}
.works_year {

}
.works_category {
  
}
.works_text {

}

